name: CI/CD Process
on:
  workflow_call:
  workflow_dispatch:

jobs:
  success:
    strategy:
      fail-fast: false
      matrix:
        os: [ windows-2025, macos-15, ubuntu-24.04 ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: DanySK/action-checkout@0.2.27
      - uses: DanySK/build-check-deploy-gradle-action@4.0.18
        with:
          should-run-codecov: false
          should-deploy: false
